html    {
    height: 100%;
}

/* Section 1 - Header * Signup */

.section1   {
    background-color: #1f2937;
    padding: 0px 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: antiquewhite;
}

.header_container   {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo    {
    font-size: 20px;
    font-weight: bold;
}

.header_links    {
    font-size: 14px;
}

ul  {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a   {
    text-decoration: none;
    color: antiquewhite;
}

.signup_container   {
    padding: 70px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left_signup    {
    width: 500px;
    height: auto;
}

.left_title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

.left_desc  {
    font-size: small;
    color: whitesmoke;
    padding-bottom: 15px;
}

.signup {
    background-color: #eee;
    color: #888;
    font-weight: bold;
    font-size: 15px;
    height: 35px;
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px #ddd;
}

.right_signup   {
    font-size: small;
    background-color: grey;
    width: 450px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section 2 - Some random information */

.section2   {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;    
}

img {
    width: 140px;
    height: 120px;
}

.information    {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 40px;
}

.info_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.info_text  {
    font-size: 16px;
    max-width: 140px;
}

/* Section 3 - Quotes */

.section3   {
    text-align: center;
    background-color: #e0dede;
    padding: 60px 160px;
}

.quote  {
    font-size: 26px;
    font-style: italic;
    padding-bottom: 30px;
}

.thor   {
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    justify-content: end;
}

/* Section 4 - CTA */

.section4   {
    padding: 60px 200px;
}

.cta_container  {
    background-color: grey;
    width: 550px;
    height: 80px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.cta_title  {
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
}

.cta_text   {
    color: whitesmoke;
    font-size: 15px;
}

.cta_button {
    background-color: grey;
    border-color: whitesmoke;
    border-style: double;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
}